<?xml version="1.0" encoding="UTF-8"?>
<cibet xmlns="http://www.logitags.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.logitags.com http://www.logitags.com/cibet/cibet-config_1.3.xsd">

   <actuator name="SCHEDULER">
      <properties>
         <timerStart>+6</timerStart>
      </properties>
   </actuator>

   <setpoint id="setpoint-1">
      <controls>
         <event>INSERT, DELETE, UPDATE</event>
         <target>com.logitags.cibet.tutorial.Person, com.logitags.cibet.tutorial.Address</target>
      </controls>
      <actuator name="ARCHIVE"/>
   </setpoint>

   <setpoint id="setpoint-2">
      <controls>
         <event>INVOKE</event>
         <target>http://localhost:8788/Tutorial2/ca*</target>
      </controls>
      <actuator name="ARCHIVE"/>
   </setpoint>

   <setpoint id="setpoint-3">
      <controls>
         <event>INVOKE</event>
         <target>com.logitags.cibet.tutorial.TutorialServlet2</target>
         <method>changeConfig</method>
      </controls>
      <actuator name="FOUR_EYES"/>
   </setpoint>

   <setpoint id="setpoint-4">
      <controls>
         <event>INVOKE</event>
         <target>http://localhost:8788/Tutorial2/secured</target>
      </controls>
      <actuator name="FOUR_EYES"/>
   </setpoint>

   <setpoint id="setpoint-5">
      <controls>
         <event>UPDATE</event>
         <target>com.logitags.cibet.tutorial.Person</target>
         <stateChange>name</stateChange>
      </controls>
      <actuator name="TWO_MAN_RULE"/>
   </setpoint>

   <setpoint id="setpoint-6">
      <controls>
         <event>INVOKE</event>
         <target>com.logitags.cibet.tutorial.SimpleRemoteEjbImpl</target>
         <method>writeString()</method>
      </controls>
      <actuator name="SCHEDULER"/>
   </setpoint>

</cibet>   