<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:sec="http://www.springframework.org/schema/security" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


  <context:component-scan base-package="com.logitags.cibet"/>
  
  <aop:config proxy-target-class="true"/>
  
  <sec:http auto-config='true' use-expressions="false"/>

  <bean id="MySpringExampleBean" class="com.cibethelper.SpringExampleBean">
  </bean>

  <bean id="MySpringExampleBean2" class="com.cibethelper.SpringExampleBean2">
  </bean>

  <bean id="MyBean1" class="com.cibethelper.base.StaticFactoryService"/>
  <bean id="MyBean2" class="com.cibethelper.base.StaticFactoryService"/>

  <sec:global-method-security 
   jsr250-annotations="enabled" 
  	secured-annotations="enabled" 
  	pre-post-annotations="enabled" />

	<sec:authentication-manager>
    <sec:authentication-provider>
      <sec:user-service>
        <sec:user name="Wursti" password="Wursti1" authorities="ROLE_USER, ROLE_MANAGER" />
      </sec:user-service>
    </sec:authentication-provider>
  </sec:authentication-manager>
    
</beans>